<img id="logo" src="icons/fvtt.png" height="50px">
<template id="navigation"></template>
<div id="loading">
    <div id="loading-bar">
        <label id="context"></label>
        <label id="progress"></label>
    </div>
</div>
<template id="controls"></template>
<template id="notifications"></template>
<template id="sidebar"></template>
<template id="players"></template>
<template id="hotbar"></template>
<template id="camera-views"></template>
<template id="hud"></template>
<template id="board"></template>
<template id="pause"></template>
